@model PigWebApplication.Models.Injection

@{
    ViewData["Title"] = "Редагувати";
}

<h1>Редагувати</h1>

<h4>Ін'єкція</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>

            <input type="hidden" value="@ViewBag.MedicineId" name="MedicineID"/>

            <div class="form-group">
                <label asp-for="PigId" class="control-label"></label>
                <select asp-for="PigId" class="form-control" asp-items="ViewBag.PigId"></select>
                <span asp-validation-for="PigId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Note" class="control-label"></label>
                <input asp-for="Note" class="form-control" />
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Зберегти" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Повернутися до списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
